@import 'styles/base/mixins';

.wrapper {
  @include flex__display($direction: column, $align: stretch);
  margin: 20px 140px 0;
  height: 100vh;

  @media (max-width: 1265px) {
    margin: 20px 80px 0;
  }

  @media (max-width: 1140px) {
    margin: 20px 30px 0;
  }

  @media (max-width: 515px) {
    margin: 20px 10px 0;
  }
}
