@import 'styles/base/variables';
@import 'styles/base/fonts';

.mob_nav__link {
  color: $nav-color;
  font-family: $main-font;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  cursor: pointer;
}

.nav__burger_first,
.nav__burger_second,
.nav__burger_third {
  width: 30px;
  height: 4px;
  background-color: $accent-color;
}

.nav__burger_second {
  margin: 5px 0;
}

.nav__burger_wrapper {
  transition: opacity 0.25s ease;
  cursor: pointer;
  width: 30px;
  position: relative;
  z-index: 5;
  background: transparent;
}

.nav__burger_wrapper:hover {
  opacity: 0.7;
}

.nav__burger_wrapper.active .nav__burger_first {
  transform: translateY(10px) translateX(0) rotate(45deg);
}

.nav__burger_wrapper.active .nav__burger_second {
  opacity: 0;
}

.nav__burger_wrapper.active .nav__burger_third {
  transform: translateY(-9px) translateX(0) rotate(-45deg);
}

.nav__burger_wrapper div {
  transition: all 0.35s ease;
}

.overlay {
  position: fixed;
  background: $main-background;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0vh;
  visibility: hidden;
  transition: 1.2s cubic-bezier(0.26, 0.89, 0.77, 0.54);
  overflow: hidden;
  z-index: 4;
}
.overlay.open {
  visibility: visible;
  height: 100vh;
  overflow: hidden;
}
.overlay.open li {
  -webkit-animation: fadeInFromBottom 0.5s ease forwards;
  animation: fadeInFromBottom 0.5s ease forwards;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: $nav-color;
  font-family: $main-font;
  text-decoration: none;
}
.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: $nav-color;
  transition: 0.35s;
}

@-webkit-keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    top: 20%;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    top: 20%;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
