@import 'styles/base/mixins';

.wrapper {
  @include grid__display($amount: 6);
  margin-bottom: 50px;

  @media (max-width: 1000px) {
    @include grid__display($amount: 3);
  }

  @media (max-width: 500px) {
    @include grid__display($amount: 2);
  }

  @media (max-width: 360px) {
    @include grid__display($size: 0.8fr, $justify: center);
  }
}
