@import 'styles/base/variables';
@import 'styles/base/fonts';

.nav {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  &__link {
    color: $nav-color;
    font-family: $main-font;
    font-size: calc(16px + (4 + 4 * 0.7) * ((100vw - 320px) / 1440));
    font-weight: 400;
    position: relative;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 0;
      height: 4px;
      background-color: $accent-color;
      transition: width 0.3s ease;
      -moz-transition: width 0.3s ease;
      -webkit-transition: width 0.3s ease;
      -o-transition: width 0.3s ease;
    }

    &:hover:after {
      width: 100%;
    }
  }
}
