@import 'styles/base/variables';
@import 'styles/base/fonts';
@import 'styles/base/mixins';

.list_courts__wrapper {
  @include grid__display($amount: 3, $gap: 25px 15px);
  margin-top: 50px;

  @media (max-width: 950px) {
    @include grid__display($amount: 2, $gap: 25px 15px);
  }

  @media (max-width: 650px) {
    @include grid__display($gap: 25px 15px);
  }

  @media (max-width: 360px) {
    @include grid__display($size: 0.8fr, $justify: center, $gap: 25px 15px);
  }
}

@media (max-width: 650px) {
  .text {
    display: none;
  }
}

.container {
  border: 3px solid $accent-color;
  width: 100%;
  padding: 15px;
  text-align: center;
  transition: $main-transition-effect;
  -moz-transition: $main-transition-effect;
  -webkit-transition: $main-transition-effect;
  -o-transition: $main-transition-effect;
  @include flex__display($direction: column, $justify: flex-start, $gap: 5px);

  &:hover {
    -webkit-box-shadow: $shadow-hover-color;
    -moz-box-shadow: $shadow-hover-color;
    box-shadow: $shadow-hover-color;
  }
}
