@import 'styles/base/variables';
@import 'styles/base/fonts';
@import 'styles/base/mixins';

.statement__buttons {
  @include flex__display;
  margin-bottom: 30px;

  @media (max-width: 950px) {
    @include flex__display($direction: column-reverse, $gap: 15px);
  }

  @media (max-width: 520px) {
    @include flex__display($direction: column-reverse, $align: stretch, $gap: 15px);
  }
}

.pdf {
  color: $button-general-text;
  transition: $main-transition-effect;
  -moz-transition: $main-transition-effect;
  -webkit-transition: $main-transition-effect;
  -o-transition: $main-transition-effect;
  padding: 5px 10px;
  font-family: $main-font;

  &:hover {
    color: $button-general-text-hover;
  }
}
