@import 'styles/base/variables';
@import 'styles/base/fonts';
@import 'styles/base/extends';
@import 'styles/base/mixins';

.court__title {
  @extend %court__title__card;
}

.status__wrapper,
.missing_info,
.location__wrapper {
  @extend %court__card_wrapper;
}

.status_image__wrapper,
.missing_info__wrapper,
.location__image_wrapper {
  @extend %court__card_image_wrapper;
}

.status_image,
.missing_info__image,
.location__image,
.buttons__image {
  @extend %court__card_image;
}

.status__text,
.missing_info__text,
.location__text {
  @extend %court__card_text;
}

.buttons {
  @include court__card_buttons;
}
