@import 'styles/base/variables';
@import 'styles/base/fonts';
@import 'styles/base/mixins';

.section__about {
  font-size: calc(12px + (4 + 4 * 0.7) * ((100vw - 320px) / 1440));
  line-height: 130%;
  font-family: $main-font;
}

.general_info__wrapper {
  @include flex__display($direction: column, $justify: center, $align: stretch, $gap: 15px);

  & p {
    text-align: justify;
  }
}

.project,
.situation__title,
.capability__title {
  font-family: $atoj-font;
  font-weight: 600;
  font-size: calc(16px + (4 + 4 * 0.7) * ((100vw - 320px) / 1440));
  color: $accent-color;
  transition: $main-transition-effect;
  -moz-transition: $main-transition-effect;
  -webkit-transition: $main-transition-effect;
  -o-transition: $main-transition-effect;

  &:hover {
    color: $accent-color-hover;
  }
}

.situation {
  margin-top: 50px;

  &__container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 0.8fr 1fr;
    grid-gap: 20px;

    @media (max-width: 1050px) {
      grid-template-columns: 1fr 0.8fr;
      grid-template-rows: auto;
    }

    @media (max-width: 650px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-gap: 30px;
    }

    &_item {
      @include flex__display($direction: column, $justify: space-around, $gap: 15px);
      padding: 10px;
      background-color: $accent-background;
      box-shadow: $shadow-color;
      border-radius: 10px;
      transition: box-shadow 0.3s ease;
      -moz-transition: box-shadow 0.3s ease;
      -webkit-transition: box-shadow 0.3s ease;
      -o-transition: box-shadow 0.3s ease;

      &:hover {
        box-shadow: $shadow-hover-color;
      }
    }

    &_image_wrapper {
      max-width: 70px;
      max-height: 70px;
      padding: 5px;
      border-radius: 50%;
      background: $accent-background;
    }

    &_image {
      width: 100%;
      height: 100%;
      padding: 5px;
    }

    &_text {
      text-align: center;
      color: rgba(10, 2, 19, 0.7);
      font-weight: 400;
      line-height: 160%;
    }
  }
}

.capability {
  margin-top: 50px;

  &__container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    @include flex__display($justify: center, $align: stretch, $gap: 15px);

    @media (max-width: 650px) {
      flex-direction: column;
      gap: 30px;
      @include flex__display($direction: column, $justify: center, $gap: 15px);
    }

    &_item {
      @include flex__display($direction: column, $justify: space-around, $gap: 15px);
      max-width: 50%;
      padding: 10px;
      background-color: $accent-color-icon;
      box-shadow: $shadow-color;
      border-radius: 10px;
      transition: box-shadow 0.3s ease;
      -moz-transition: box-shadow 0.3s ease;
      -webkit-transition: box-shadow 0.3s ease;
      -o-transition: box-shadow 0.3s ease;
      text-align: center;
      color: rgba(10, 2, 19, 0.7);
      font-weight: 400;
      line-height: 160%;
      font-size: 16px;

      &:hover {
        box-shadow: $shadow-hover-color;
      }

      @media (max-width: 650px) {
        max-width: 100%;
      }
    }

    &_image_wrapper {
      max-width: 70px;
      max-height: 70px;
      padding: 5px;
      border-radius: 50%;
      background: $accent-background;
    }

    &_image {
      width: 100%;
      height: 100%;
      padding: 5px;
    }

    &_list {
      display: flex;
      flex-direction: column;
      line-height: 200%;
      text-align: left;
    }

    &_point {
      &::before {
        content: '✓';
        width: 30px;
        height: 30px;
        display: block;
        float: left;
        margin-right: 5px;
        background-color: $accent-color;
        color: $main-background;
        border-radius: 50%;
        text-align: center;
      }
    }
  }
}
