@import 'styles/base/variables';
@import 'styles/base/fonts';
@import 'styles/base/mixins';

.title {
  @include text($size: 30px);

  @media (max-width: 500px) {
    @include text($size: 25px);
  }

  @media (max-width: 360px) {
    @include text;
  }
}

.wrapper {
  @include grid__display($amount: 5);

  @media (max-width: 880px) {
    @include grid__display($amount: 4);
  }

  @media (max-width: 730px) {
    @include grid__display($amount: 3);
  }

  @media (max-width: 550px) {
    @include grid__display($amount: 2);
  }

  @media (max-width: 360px) {
    @include grid__display($size: 0.8fr, $justify: center);
  }
}
