@import 'styles/base/variables';
@import 'styles/base/fonts';

.wrapper__input {
  position: relative;
  display: inline-flex;
  width: 100%;

  @media (max-width: 360px) {
    display: flex;
    width: 80%;
    margin: 0 auto;
  }
}

.input {
  width: 100%;
  padding: 10px 15px;
  padding-right: 45px;
  border: 3px solid $custom-button-background;
  font-size: calc(12px + (2 + 2 * 0.7) * ((100vw - 320px) / 1440));
  outline: none;
  font-family: $main-font;
  color: $title-color;

  &:focus {
    border-color: $accent-color;
  }

  &::placeholder {
    color: $placeholder-color;
    font-family: $main-font;
  }
}

.cross {
  width: 100%;
  height: 100%;

  &__wrapper {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;
    opacity: 0.5;
    background: transparent;
    transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}
