@import './base/reset';
@import './base/variables';
@import './base/fonts';
@import './base/extends';
@import './base/mixins';

body {
  font-family: $main-font;
  background-color: $main-background;
}

html {
  scrollbar-color: #6C60FE white;
  scrollbar-face-color: #6C60FE; 
  scrollbar-width: thin;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 5px; 
}

::-webkit-scrollbar-thumb {
  background-color: #6C60FE;
}
