@import 'styles/base/variables';
@import 'styles/base/fonts';
@import 'styles/base/mixins';

.title {
  @include text($size: 30px, $align: center);

  @media (max-width: 500px) {
    @include text($size: 25px, $align: center);
  }

  @media (max-width: 360px) {
    @include text($size: 20px, $align: center);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.error__message {
  font-weight: 700;
  font-size: calc(16px + (4 + 4 * 0.7) * ((100vw - 320px) / 1440));
  font-family: $main-font;
  color: $main-color;
  text-align: center;
}

.container__error {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
