@import 'styles/base/variables';
@import 'styles/base/fonts';

.text__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $error-background;
  color: $error-color;
  margin: 20px 0;
  padding: 10px;
  text-align: justify;
  gap: 10px;
  font-family: $main-font;
}

.image {
  width: 100%;
  height: 100%;

  &__wrapper {
    max-width: 30px;
    max-height: 30px;
  }
}
