@import 'styles/base/variables';
@import 'styles/base/fonts';
@import 'styles/base/mixins';

.link {
  @include links;
  position: relative;
  z-index: 3;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;

  &:hover {
    background: $accent-color-hover;
    color: $button-general-text-hover;
  }
}

.disabled__link {
  @include links($bgcolor: $disabled-color, $color: $placeholder-color, $cursor: not-allowed);
}
