@import 'styles/base/variables';
@import 'styles/base/fonts';
@import 'styles/base/mixins';

.services {
  margin: 50px 0;

  &__list {
    @include grid__display($amount: 3, $gap: 20px);
    grid-template-rows: auto;
    align-items: stretch;
    margin: 50px auto 100px;

    @media (max-width: 1040px) {
      @include grid__display($amount: 2, $gap: 20px);
      grid-template-rows: repeat(2, 1fr);
    }

    @media (max-width: 706px) {
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: auto;
    }
  }

  &__title {
    color: $title-color;
    font-family: $title-font;
    font-size: 30px;
    font-weight: 600;
    line-height: 85px;
  }

  &__item {
    @include flex__display($direction: column);
    background-color: $accent-background;
    box-shadow: $shadow-color;
    padding: 25px;
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -webkit-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: $shadow-hover-color;
    }

    &_wrapper {
      max-width: 70px;
      max-height: 70px;
      padding: 5px;
      border-radius: 50%;
      background: $accent-color-icon;
    }

    &__image {
      width: 100%;
      height: 100%;
      padding: 5px;
    }

    &__info_title {
      color: $title-color;
      font-family: $title-font;
      font-size: 25px;
      font-weight: 600;
      line-height: 45px;
    }

    &__data {
      @include flex__display($direction: column, $gap: 15px);
      height: 100%;
      width: 100%;
    }
  }

  &__description {
    color: $main-color;
    font-family: $main-font;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 100%;
  }
}

.available::before {
  @include list_icons;
}

.inaccessible::before {
  @include list_icons($content: 'x', $color: $limitation-background);
  line-height: 30px;
}

.description::before {
  @include list_icons($content: '!', $color: $limitation-background);
}
