@import 'styles/base/variables';
@import 'styles/base/fonts';
@import 'styles/base/mixins';

.form {
    @include flex__display($direction: column);
    background-color: $accent-background;
    box-shadow: $shadow-color;
    padding: 25px;
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
    transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -webkit-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;

    @media(max-width: 800px) {
        width: 100%;
        margin: 0;
    }

    &:hover {
        box-shadow: $shadow-hover-color;
    }
}

.contact__title {
    color: $accent-color;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;

    @media (max-width: 800px) {
        line-height: 30px;
    }
}