@import 'styles/base/variables';
@import 'styles/base/fonts';
@import 'styles/base/mixins';

.list_statements__item {
  @include title;
  width: 100%;
  cursor: pointer;
  transition: $main-transition-effect;

  @media (max-width: 515px) {
    @include title($size: 15px);
  }

  &::before {
    content: '✓';
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    margin-right: 5px;
    background: $accent-color;
    color: $button-general-text;
    border-radius: 50%;
    text-align: center;
    transition: $main-transition-effect;
    -moz-transition: $main-transition-effect;
    -webkit-transition: $main-transition-effect;
    -o-transition: $main-transition-effect;

    @media (max-width: 515px) {
      width: 25px;
      height: 25px;
      line-height: 30px;
    }
  }

  &:hover {
    color: $title-color;

    &::before {
      background: $accent-color-hover;
      color: $button-general-text-hover;
    }
  }
}
