@import 'styles/base/variables';
@import 'styles/base/fonts';

.button {
  border-radius: 10px;
  background: $accent-color;
  color: $button-general-text;
  font-family: $main-font;
  font-size: calc(14px + (8 + 8 * 0.7) * ((100vw - 320px) / 1440));
  font-weight: 400;
  padding: 10px;
  cursor: pointer;
  position: relative;
  z-index: 3;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;

  @media (max-width: 520px) {
    width: 100%;
  }

  &:hover {
    background: $accent-color-hover;
    color: $button-general-text-hover;
  }
}
