@import 'styles/base/variables';
@import 'styles/base/fonts';
@import 'styles/base/mixins';

.modal {
  height: 100vh;
  width: 100vw;
  background-color: $modal-background;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  z-index: 5;

  &__content {
    @include flex__display($direction: column, $justify: center, $gap: 30px);
    margin: auto auto;
    width: 50%;
    background-color: $main-background;
    padding: 30px;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
  }
}