@import 'styles/base/variables';
@import 'styles/base/fonts';

.button {
  display: inline-block;
  text-transform: uppercase;
  padding: 8px 10px;
  position: relative;
  z-index: 3;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  vertical-align: middle;
  color: $main-color;
  transition: color 0.4s ease-in-out;
  font-family: $main-font;
  background-color: $custom-button-background;
}

.button::before,
.button::after,
.button .button__text::before,
.button .button__text::after {
  position: absolute;
  content: '';
  background: $title-color;
  transition: all 0.4s ease-in-out;
}

.button::before,
.button::after {
  width: 2px;
}

.button::before {
  top: 0;
  left: 0;
  bottom: 70%;
}

.button::after {
  bottom: 0;
  right: 0;
  top: 70%;
}

.button .button__text::before,
.button .button__text::after {
  height: 2px;
  transition: all 0.4s ease-in-out;
}

.button .button__text::before {
  top: 0;
  left: 0;
  right: 90%;
}

.button .button__text::after {
  bottom: 0;
  right: 0;
  left: 90%;
}

.button:hover {
  color: $title-color;
  transition: color 0.4s ease-in-out;
}

.button:hover::before,
.button:hover::after,
.button:hover .button__text::before,
.button:hover .button__text::after {
  transition: all 0.4s ease-in-out;
  background: $accent-color;
}

.button:hover::before {
  bottom: 0;
}

.button:hover::after {
  top: 0;
}

.button:hover .button__text::before {
  right: 0;
}

.button:hover span::after {
  left: 0;
}

.button:active {
  text-shadow: $shadow-color;
}

.button:active::before,
.button:active::after,
.button:active .button__text::before,
.button:active .button__text::after {
  transform: scale(0.85);
}
