@import 'styles/base/variables';
@import 'styles/base/fonts';
@import 'styles/base/mixins';

.header {
  @include flex__display;
  margin-bottom: 60px;
}

.logo {
  font-family: $atoj-font;
  font-weight: 600;
  font-size: calc(30px + (15 + 15 * 0.7) * ((100vw - 320px) / 1440));
  color: $accent-color;
  transition: $main-transition-effect;
  -moz-transition: $main-transition-effect;
  -webkit-transition: $main-transition-effect;
  -o-transition: $main-transition-effect;

  &:hover {
    color: $accent-color-hover;
  }
}
