@import 'styles/base/variables';
@import 'styles/base/fonts';
@import 'styles/base/mixins';

.error__container {
  @include flex__display($direction: column);
}

.error__code {
  text-align: center;
  font-size: 180px;
  font-family: $atoj-font;
  font-weight: 800;
  margin: 20px 15px;
}

.error__second_number {
  display: inline-block;
  line-height: 0.7;
  position: relative;
  color: $accent-color;
}

.error__first_number,
.error__third_number {
  display: inline-block;
  position: relative;
}

.error__first_number {
  perspective: 1000px;
  perspective-origin: 500% 50%;
  color: $accent-color;
}

.error__first_number {
  transform-origin: 50% 100% 0px;
  transform: rotateX(0);
  animation: easyoutelastic 8s infinite;
}

.error__third_number {
  perspective: none;
  perspective-origin: 50% 50%;
  color: $accent-color
}

.error__third_number {
  transform-origin: 100% 100% 0px;
  transform: rotate(0deg);
  animation: rotatedrop 8s infinite;
}

@media (max-width: 700px) {
  .error__first_number,
  .error__third_number {
    transform: none;
    animation: none;
  }

  .error__code {
    font-size: 100px;
  }

  .error__text {
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .error__code {
    font-size: 70px;
    text-align: center;
  }

  .error__text {
    font-size: 12px;
  }
}

@keyframes easyoutelastic {
  0% {
    transform: rotateX(0);
  }
  9% {
    transform: rotateX(210deg);
  }
  13% {
    transform: rotateX(150deg);
  }
  16% {
    transform: rotateX(200deg);
  }
  18% {
    transform: rotateX(170deg);
  }
  20% {
    transform: rotateX(180deg);
  }
  60% {
    transform: rotateX(180deg);
  }
  80% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(0);
  }
}

@keyframes rotatedrop {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(30deg);
  }
  15% {
    transform: rotate(90deg);
  }
  70% {
    transform: rotate(90deg);
  }
  80% {
    transform: rotate(0);
  }
  100% {
    transform: rotateX(0);
  }
}

.error__text {
  font-size: 30px;
  font-weight: bold;
}
