@import 'styles/base/variables';
@import 'styles/base/fonts';
@import 'styles/base/mixins';

.footer {
  @include flex__display($justify: center, $align: flex-start, $gap: 50px);
  margin-top: 130px;

  &__main_info {
    width: 100%;
  }

  &__additional_info {
    @include flex__display($align: flex-start, $gap: 20px);
    width: 100%;
  }

  &__official__info {
    @include title($size: 18px, $line: 28.8px, $align: justify);
    max-width: 450px;
    margin-top: 30px;

    @media (max-width: 1083px) {
      @include title($size: 18px, $line: 28.8px, $align: left);
    }

    @media (max-width: 950px) {
      @include title($size: 16px, $line: 28.8px, $align: left);
    }

    @media (max-width: 750px) {
      @include title($size: 14px, $line: 28.8px, $align: left);
    }
  }

  &__title {
    color: $nav-color;
    font-family: $title-font;
    font-size: calc(16px + (9 + 9 * 0.7) * ((100vw - 320px) / 1440));
    font-weight: 500;
    line-height: 153.99%;
  }
}

.footer__project,
.footer__instructions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__instructions {
  align-items: flex-end;
  text-align: end;
}

.footer__project a,
.footer__instructions a {
  @include title($size: 14px, $line: 142.99%, $align: justify);
  position: relative;
  display: block;
  transition: $main-transition-effect;
  -moz-transition: $main-transition-effect;
  -webkit-transition: $main-transition-effect;
  -o-transition: $main-transition-effect;
}

.footer__project a:hover,
.footer__instructions a:hover {
  color: $accent-color;
}

@media (max-width: 500px) {
  .footer__instructions {
    display: none;
  }

  .footer__additional_info {
    gap: 0px;
    justify-content: end;
    width: 50%;
  }

  .footer__wrapper {
    gap: 0px;
  }
}

.logo {
  font-family: $atoj-font;
  font-weight: 600;
  font-size: calc(30px + (15 + 15 * 0.7) * ((100vw - 320px) / 1440));
  color: $accent-color;
  transition: $main-transition-effect;
  -moz-transition: $main-transition-effect;
  -webkit-transition: $main-transition-effect;
  -o-transition: $main-transition-effect;

  &:hover {
    color: $accent-color-hover;
  }
}
