@import 'styles/base/variables';
@import 'styles/base/fonts';
@import 'styles/base/mixins';

.list_statements__wrapper {
  @include flex__display($direction: column, $gap: 40px);
  margin-top: 40px;
}

.not_found_info {
  @include text;
}
