@import 'styles/base/variables';
@import 'styles/base/fonts';
@import 'styles/base/mixins';

.modal {
  height: 100vh;
  width: 100vw;
  background-color: $modal-background;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  z-index: 5;

  &__content {
    @include flex__display($direction: column, $justify: center, $align: stretch);
    margin: auto auto;
    width: 50%;
  }
}

.buttons {
  @include flex__display($justify: space-evenly, $align: stretch);
  margin-top: 10px;

  @media (max-width: 550px) {
    @include flex__display($direction: column, $gap: 10px);
  }
}

.button {
  border-radius: 10px;
  background: $accent-color;
  color: #fff;
  font-family: $main-font;
  font-size: calc(14px + (8 + 8 * 0.7) * ((100vw - 320px) / 1440));
  font-weight: 400;
  padding: 10px;
  cursor: pointer;
  position: relative;
  opacity: 1;
  transition: $main-transition-effect;
  -moz-transition: $main-transition-effect;
  -webkit-transition: $main-transition-effect;
  -o-transition: $main-transition-effect;

  &:hover {
    opacity: 0.6;
  }
}
