@import 'styles/base/variables';
@import 'styles/base/fonts';
@import 'styles/base/mixins';

.step__description {
  @include text;
}

.category__button__wrapper {
  @include flex__display($direction: column, $gap: 20px);

  @media (max-width: 515px) {
    @include flex__display($direction: column, $align: stretch, $gap: 20px);
  }
}
