@import 'styles/base/variables';
@import 'styles/base/fonts';

.image {
    width: 20px;
    height: 20px;
}

.input {
    width: 100%;
    background-color: $main-background;
    border: 2px solid $custom-button-background;
    padding: 10px;
    margin: 10px 0;
    border-radius: 3px;
    caret-color: $accent-color;

    .input:hover {
        border: 2px solid $accent-color;
    }

    .input:focus {
        border: 2px solid $accent-color;
    }
}

.label {
    width: 100%;
    font-weight: 600;
    margin-top: 20px;
}

.error_message__text {
    color: $error-color;
    font-weight: 600;
}