@import 'styles/base/variables';
@import 'styles/base/fonts';
@import 'styles/base/mixins';

.hero {
  @include flex__display($direction: column, $justify: center, $align: flex-start, $gap: 30px);
  position: relative;
  border-radius: 50px;
  height: 400px;
  background-color: $accent-color-icon;
  box-shadow: $shadow-color;
  padding: 50px;
  z-index: 1;
  transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -webkit-transition: box-shadow 0.5s ease;
  -o-transition: $main-transition-effect;

  &:hover {
    box-shadow: $shadow-hover-color;
  }

  &::before {
    content: '';
    background: url('/femida.png');
    z-index: 2;
    position: absolute;
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;

    @media (max-width: 660px) {
      content: '';
      background-size: cover;
    }

    @media (max-width: 440px) {
      content: '';
      background-position: bottom;
    }
  }

  &__title {
    color: $nav-color;
    font-family: $title-font;
    font-size: calc(25px + (35 + 35 * 0.7) * ((100vw - 320px) / 1440));
    font-weight: 700;

    @media (max-width: 440px) {
      margin: 0 auto;
    }
  }

  &__description {
    color: rgba(10, 2, 19, 0.7);
    font-family: $main-font;
    font-size: calc(16px + (9 + 9 * 0.7) * ((100vw - 320px) / 1440));
    font-weight: 400;
    line-height: 48px;
    text-align: justify;

    @media (max-width: 690px) {
      line-height: 35px;
    }

    @media (max-width: 440px) {
      line-height: 25px;
      text-align: center;
    }
  }
}
