@import 'styles/base/variables';
@import 'styles/base/fonts';
@import 'styles/base/mixins';

.form {
  &__wrapper {
    margin: 40px auto 0;
  }

  &__div {
    position: relative;
    height: 48px;
    margin-bottom: 20px;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: calc(12px + (4 + 4 * 0.7) * ((100vw - 320px) / 1440));
    border: 1px solid $disabled-color;
    border-radius: 10px;
    outline: none;
    padding: 12px;
    background: none;
    z-index: 1;
    font-family: $main-font;
    color: $title-color;

    &:focus {
      border: 1.5px solid $accent-color;
    }
  }

  &__label {
    position: absolute;
    left: 10px;
    top: 18px;
    background-color: $main-background;
    color: $placeholder-color;
    font-family: $main-font;
    font-size: calc(12px + (4 + 4 * 0.7) * ((100vw - 320px) / 1440));
    transition: 0.3s;
  }
}

.form__input:focus + .form__label {
  top: -0.3rem;
  left: 0.8rem;
  color: $accent-color;
  font-size: calc(10px + (2 + 2 * 0.7) * ((100vw - 320px) / 1440));
  font-weight: 500;
  z-index: 2;
}

.form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
  top: -0.3rem;
  left: 0.8rem;
  font-size: calc(10px + (2 + 2 * 0.7) * ((100vw - 320px) / 1440));
  font-weight: 500;
  z-index: 2;
}

.statement__buttons {
  @include flex__display;
  margin-bottom: 30px;

  @media (max-width: 950px) {
    @include flex__display($direction: column-reverse, $gap: 15px);
  }

  @media (max-width: 520px) {
    @include flex__display($direction: column-reverse, $align: stretch, $gap: 15px);
  }
}
