@import 'styles/base/variables';
@import 'styles/base/fonts';

.textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px;
    border: 2px solid $custom-button-background;
    resize: none;
    caret-color: $accent-color;

    &:hover {
        border: 2px solid $accent-color; 
    }

    &:focus {
        border: 2px solid $accent-color;
    }
}

.label {
    margin: 20px 0;
    width: 100%;

    &__text {
        font-weight: 600;
        margin-bottom: 10px;
    }
}

.error_message__text {
    color: $error-color;
    font-weight: 600;
}