@import 'styles/base/variables';
@import 'styles/base/fonts';
@import 'styles/base/mixins';

.title {
  @include text($size: 30px, $line: 40px);

  @media (max-width: 515px) {
    font-size: 25px;
  }
}

.statement {
  width: 100%;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: $shadow-color;
  -webkit-box-shadow: $shadow-color;
  -moz-box-shadow: $shadow-color;
  display: block;
  font-family: $statement-font;
  line-height: 30px;
  color: $title-color;
}
