@import './variables';
@import './fonts';

%court__title__card {
  color: $title-color;
  font-family: $title-font;
  font-size: 16px;
  font-weight: 600;
}

%court__card_wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 15px;
  align-items: center;

  @media (max-width: 650px) {
    margin: 15px auto 0;
  }
}

%court__card_image_wrapper {
  max-width: 20px;
  max-height: 20px;
}

%court__card_image {
  width: 100%;
  height: 100%;
}

%court__card_text {
  text-align: left;
  color: $title-color;
  font-family: $main-font;
}
