@import './variables';
@import './fonts';

@mixin court__card_buttons() {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;

  &__image_wrapper {
    max-width: 80px;
    max-height: 80px;
    padding: 10px;
    border: 1px solid $button-border-color;
    background: transparent;
    transition: all 0.5s linear 0s;

    &:hover {
      border: 1px solid $accent-color;
      background-color: $accent-color-hover;
    }
  }
}

@mixin grid__display($amount: 1, $size: 1fr, $justify: stretch, $gap: 15px) {
  display: grid;
  grid-template-columns: repeat($amount, $size);
  justify-content: $justify;
  grid-gap: $gap;
}

@mixin flex__display($direction: row, $justify: space-between, $align: center, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin text($size: 20px, $line: 85px, $weight: 600, $align: center) {
  color: $title-color;
  font-family: $title-font;
  font-size: $size;
  font-weight: $weight;
  line-height: $line;
  text-align: $align;
}

@mixin title($size: 20px, $line: 32px, $weight: 400, $align: left) {
  color: $main-color;
  font-family: $main-font;
  font-size: $size;
  font-weight: $weight;
  line-height: $line;
  text-align: $align;
}

@mixin links($bgcolor: $accent-color, $color: $button-general-text, $cursor: pointer) {
  background-color: $bgcolor;
  color: $color;
  cursor: $cursor;
  border-radius: 10px;
  font-family: $main-font;
  font-size: 22px;
  font-weight: 400;
  padding: 10px;

  @media (max-width: 520px) {
    width: 100%;
    text-align: center;
  }
}

@mixin list_icons($content: '✓', $color: $accent-color) {
  content: $content;
  width: 30px;
  height: 30px;
  display: block;
  float: left;
  margin-right: 5px;
  background-color: $color;
  color: $main-background;
  border-radius: 50%;
  text-align: center;
}
