$atoj-font: 'Inter', sans-serif;
$main-font: 'Nunito', sans-serif;
$title-font: 'Hanken Grotesk', sans-serif;
$statement-font: 'Open Sans', sans-serif;

$title-color: #000;
$main-color: rgba(10, 2, 19, 0.5);
$accent-color: #6c60fe;
$accent-color-hover: rgba(108, 96, 254, 0.5);
$accent-color-icon: rgba(108, 96, 254, 0.05);
$nav-color: #0a0213;
$disabled-color: #ccc;
$placeholder-color: #80868b;
$error-color: rgb(198 13 13);
$button-general-text: #fff;
$button-general-text-hover: rgb(75, 75, 75);

$button-border-color: #b6b6b6;

$main-background: #ffffff;
$accent-background: rgba(108, 96, 254, 0.05);
$error-background: rgb(255 231 231);
$modal-background: rgba(0, 0, 0, 0.8);
$custom-button-background: #eee;
$limitation-background: #ffb14e;

$shadow-color: 0px 20px 80px 0px rgba(0, 0, 0, 0.2);
$shadow-hover-color: 0px 20px 80px 0px rgba(0, 0, 0, 0.4);

$main-transition-effect: all 0.5s linear 0s;
